* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #d2a985;
}

#app {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: 30px;
    background-color: #913639;
    color: #e9c429;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.holder,
.holder .feel,
.holder .country,
.holder .zip,
.holder .entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.holder.entry {
    margin-top: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
    text-align: center;
    margin-bottom: 2px;
}

#country {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 2px;
}

input {
    display: block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 2px;
}

button {
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: #913639;
    color: #e9c429;
    border: none;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 36px;
}

textarea {
    height: 100px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 2px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Oswald', sans-serif;
}

.entry {
    padding: 5px;
    width: 100%;
    background-color: #d2a985;
    display: flex;
    flex-direction: column;
}

#entryholder {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#date, #temp, #content {
    padding: 30px;
    background-color: #226ba3;
    color: #d2a985;
    margin: 5px 0;
    width: 48%;
    text-align: center;
    border-radius: 10px;
}

#date, #temp {
    font-size: 30px;
}

#content {
    width: 100%;
    margin: 0;
}
